<%= form_for(@printing_ticket) do |f| %>
<% @printing_ticket.project_id = @project_id %>

  <% if @printing_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printing_ticket.errors.count, "error") %> prohibited this printing_ticket from being saved:</h2>

      <ul>
      <% @printing_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
	  <div class="field form-group col-sm-3">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </div>
  </div> 	  
  <div class="row">
	  <div class="field form-group col-sm-3">
	    <%= f.label :subname, "Line Item" %><br>
	    <%= f.text_field :subname %>
	  </div> 
  </div> 	  
  <div class="row">	   
	  <div class="field form-group col-sm-3">
	    <%= f.label :description, "Comments" %><br>
	    <%= f.text_field :description %>
	  </div>
  </div>	  
  <div class="field form-group">
    <%= f.label :width %><br>
    <%= f.text_field :width %>
  </div>
  <div class="field form-group">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field form-group">
    <%= f.label :qty %><br>
    <%= f.text_field :qty %>
  </div>

  <div class="field form-group">
    <%= f.label :single %><br />
    <%= f.label :single, "Yes", :value => "true"  %>
    <%= f.radio_button :single, true, :checked => true %>
    <%= f.label :single, "No", :value => "false" %>
    <%= f.radio_button :single, false%>
  </div>
  
  <div class="field form-group">
    <%= f.label :double %><br />
        <%= f.label :double, "Yes", :value => "true"  %>
        <%= f.radio_button :double, true %>
        <%= f.label :double, "No", :value => "false" %>
        <%= f.radio_button :double, false, :checked => true %>
  </div>   
  
  <div class="field form-group">
    <%= f.hidden_field :project_id %>
  </div>
  
    <div class="field form-group">
  	 <%= f.label :job_state_id, "Status" %>
    
     <%  @selected_states = set_one_state_from_company(1) %>
     <%= f.collection_select :job_state_id, @selected_states, :_id, :name, include_blanks: true %>

   </div> 
 
   <div class="field form-group">
  	 <%= f.label :location_id, "Location" %>
    
     <%  @selected_locations = set_one_location_from_company(session[:company_id]) %>
     <%= f.collection_select :location_id, @selected_locations, :_id, :name, include_blanks: true %>

   </div>

   <% @company = set_company_from_session(session[:company_id]) %>
   <% @location1 = set_one_location_from_company(session[:company_id]) %>

   <div class="field form-group">  
   	
     <%= f.label :material_id, "Material" %>
          
     <%= f.grouped_collection_select(
                                   :material_id, 
                                   @location1, 
                                   :local_materials, 
                                   :name, 
                                   :_id, 
                                   :name)  %>
  
   </div>
 
   <div class="field form-group">  
     
     <%= f.label :equipment_id, "Equipment" %>
     
     <%= f.grouped_collection_select( 
                                   :equipment_id, 
                                   @location1, 
                                   :local_equipments, 
                                   :name, 
                                   :_id, 
                                   :name)  %>
  </div> 
  
  <div class="actions btn btn-info">
    <%= f.submit %>
  </div>
<% end %>
