<div class="container">
	<p id="notice"><%= notice %></p>
	
	<h2><%= project_name(@project_id) %></h2>

	<table>
	  <thead>
	    <tr>
	      <th>Location</th>	
	      <th>Name</th>
	       <th>Subname</th>
	      <th>Description</th>
	      <th>Width</th>
	      <th>Height</th>
	      <th>Qty</th>
	      <th>Single</th>
	      <th>Double</th>
	      <th>Material</th>
	      <th>Printer</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @printing_tickets.each do |printing_ticket| %>
	      <tr>
	      	<td><%= printing_ticket.location.name %></td>
	        <td><%= link_to printing_ticket.name, edit_project_printing_ticket_url(@project_id, printing_ticket) %></td>
	        <td><%= link_to printing_ticket.subname, edit_project_printing_ticket_url(@project_id, printing_ticket) %></td>
	        <td><%= link_to printing_ticket.description, edit_project_printing_ticket_url(@project_id, printing_ticket) %></td>
	        <td><%= link_to printing_ticket.width, edit_project_printing_ticket_url(@project_id, printing_ticket) %></td>
	        <td><%= link_to printing_ticket.height, edit_project_printing_ticket_url(@project_id, printing_ticket) %></td>
	        <td><%= link_to printing_ticket.qty, edit_project_printing_ticket_url(@project_id, printing_ticket) %></td>
	        <td><%= printing_ticket.single %></td>
	        <td><%= printing_ticket.double %></td>
	        <td><%= LocalMaterial.find_by_id(printing_ticket.material_id).name %></td>
	        <td><%= LocalEquipment.find_by_id(printing_ticket.equipment_id).name %></td>
	        <td><%= link_to '-', project_printing_ticket_url(@project_id, printing_ticket), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<br>
	
	<%= link_to '+', new_project_printing_ticket_path(@project_id), :class => "btn btn-info" %>
	<%= link_to 'Back', projects_path, :class => "btn btn-info" %>
</div>
