<div class="container">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <strong>Name:</strong>
	  <%= @printing_ticket.name %>
	</p>
	
	<p>
	  <strong>Description:</strong>
	  <%= @printing_ticket.description %>
	</p>
	
	<p>
	  <strong>Width:</strong>
	  <%= @printing_ticket.width %>
	</p>
	
	<p>
	  <strong>Height:</strong>
	  <%= @printing_ticket.height %>
	</p>
	
	<p>
	  <strong>Qty:</strong>
	  <%= @printing_ticket.qty %>
	</p>
	
	<p>
	  <strong>Single:</strong>
	  <%= @printing_ticket.single %>
	</p>
	
	<p>
	  <strong>Double:</strong>
	  <%= @printing_ticket.double %>
	</p>
	
	<p>
	  <strong>Material:</strong>
	  <%= @printing_ticket.local_materials.name %>
	</p>
	
	<p>
	  <strong>Location:</strong>
	  <%= @printing_ticket.location.name %>
	</p>
	
	<p>
	  <strong>Printer:</strong>
	  <%= @printing_ticket.local_equipments.name %>
	</p>
	
	<%= link_to 'Edit', edit_printing_ticket_path(@printing_ticket), :class => "btn btn-info" %> |
	<%= link_to 'Back', printing_tickets_path, :class => "btn btn-info" %>
</div>
