<%= simple_form_for(@job_state) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :step_number %>
    <%= f.input :name %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
