<div class="container">
	<p id="notice"><%= notice %></p>
	
	<h1>Listing Local Materials</h1>
	
	<table>
	  <thead>
	    <tr>

		  <th>Location</th>	
	      <th>Name</th>
	      <th>Quantity</th>
	      <th>Production Cost</th>
	      <th>Status</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @local_materials.each do |local_material| %>
	      <tr>		 
                <td><%= local_material.location.name %></td>  
		        <td><%= local_material.name %></td>
		        <td><%= local_material.quantity %></td>
		        <td><%= local_material.production_cost %></td>
		        <td><%= local_material.status %></td>
		        <td><%= link_to 'Show', local_material, :class => "btn btn-success" %></td>
		        <td><%= link_to 'Edit', edit_local_material_path(local_material), :class => "btn btn-warning" %></td>
		        <td><%= link_to 'Destroy', local_material, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>   
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<br>
	
	<%= link_to 'New Local material', new_local_material_path, :class => "btn btn-info" %>
	<%= link_to 'Back', root_path, :class => "btn btn-info" %>
</div>
