<%= form_for(@master_material) remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_field :name %>
    <%= f.input :description %>
    <%= f.input :material_type %>
    <%= f.input :width %>
    <%= f.input :length %>
    <%= f.input :units %>
    <%= f.input :unit_cost %>
    <%= f.input :quantity %>
    <%= f.input :quantity_cost %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
