<div class="container">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <strong>Name:</strong>
	  <%= @master_material.name %>
	</p>
	
	<p>
	  <strong>Description:</strong>
	  <%= @master_material.description %>
	</p>
	
	<p>
	  <strong>Material type:</strong>
	  <%= @master_material.material_type %>
	</p>
	
	<p>
	  <strong>Width:</strong>
	  <%= @master_material.width %>
	</p>
	
	<p>
	  <strong>Length:</strong>
	  <%= @master_material.length %>
	</p>
	
	<p>
	  <strong>Units:</strong>
	  <%= @master_material.units %>
	</p>
	
	<p>
	  <strong>Unit cost:</strong>
	  <%= @master_material.unit_cost %>
	</p>
	
	<p>
	  <strong>Quantity:</strong>
	  <%= @master_material.quantity %>
	</p>
	
	<p>
	  <strong>Quantity cost:</strong>
	  <%= @master_material.quantity_cost %>
	</p>
	
	<p>
	  <strong>Status:</strong>
	  <%= @master_material.status %>
	</p>
	
	<%= link_to 'Edit', edit_master_material_path(@master_material), :class => "btn btn-warning" %> |
	<%= link_to 'Back', master_materials_path, :class => "btn btn-info" %>
</div>
