<div class="container">
	<p id="notice"><%= notice %></p>
	
	<h1>Listing Locations</h1>
	
	<table>
	  <thead>
	    <tr>

	      <th>Name</th>
	      <th>Shortname</th>
	      <th>Total Tickets </th>
	      <th>Total SQR Feet</th>
	      <th>In Process Tickets </th>
	      <th>In Process SQR Feet</th>	      
	      <th>Done Tickets </th>
	      <th>Done SQR Feet</th>
	      <th colspan="7"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @locations.each do |location| %>
	      <tr>
	      	
	        <td><%= link_to location.name, edit_location_path(location) %></td>
	       
	        <td><%= link_to location.shortname, edit_location_path(location)%></td>
	        <td><%= location.address1 %></td>
	        <td><%= location.address2 %></td>
	        <td><%= location.address1 %></td>
	        <td><%= location.address2 %></td>
	        <td><%= location.address1 %></td>
	        <td><%= location.address2 %></td>	        
	        <td><%= link_to '-', location, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
	        <td><%= link_to '+', new_location_local_ticket_path(location), :class => "btn btn-info" %></td>
	        <td><%= link_to 'List Tickets', location_local_tickets_path(location), :class => "btn btn-info" %></td>	        
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<br>
	
	<%= link_to 'New Location', new_location_path, :class => "btn btn-info" %>
</div>
